.contact_container {
  width: 350px;
  padding: 5px;
  height:400px;
  float:left;
}

.send_message {
  width: 350px;
  padding: 5px;
  height: 400px;
  float: right;
  margin-right: 150px;
}

textarea {
  width:325px;
  height:150px;
  margin: 5px;
}

.hidden-number {
  visibility: hidden;
}